beautifulsoup4==4.5.1
Django==1.10.2
django-contrib-comments==1.7.3
django-extensions==1.7.4
django-mptt==0.8.6
django-tagging==0.4.5
django-xmlrpc==0.1.7
docutils==0.12
mots-vides==2015.5.11
Pillow==3.4.2
pydot==1.2.3
pydotplus==2.0.2
pyparsing==2.1.10
pytz==2016.7
six==1.10.0
Werkzeug==0.11.11
